html {
    color-scheme: dark;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/background.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    min-width: 250px;
    min-height: 400px;
}

h1 {
    font-size: 250%;
    padding-bottom: 20px;
}

div {
    background-color: rgba(0, 0, 0, .8);
    padding-top: 0px;
    padding-bottom: 20px;
    width: 250px;
    height: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

h1 {
    color: white;
}

#message-el {
    font-style: italic;
}

label {
    width: 40%;
    font-size: 20px;
    color: white;
}

input {
    width: 50px;
    font-size: 20px;
    background: rgb(50,50,50);
    color: white;
}

p {
    padding-bottom: 20px;
    font-size: 20px;
}

button {
    color: white;
    width: 50%;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid grey;
}
